/*public start*/
.layout{
	width: 100%;
}
.main{
	width:1200px;
	margin: 0 auto;
}

/*---------------------------------------title start------------------------------------*/
#header{
	height: 190px;
	
}
#header a{
	text-decoration: none;
	
}
#header a:hover{
	color:#ed1717;
}
.h_head{
	height:28px;
	background: #f4f4f4;
}
.h_head h1{
	float: left;
	font-size: 12px;
	line-height: 28px;
	font-weight: normal;
	color:# 555555;
	
}
.h_head h1 i{
	float: left;
	margin: 9px 6px;
	display: block;
	width: 14px;
	height: 10px;
	background: url(../img/icon.png) no-repeat 0 0px;
}
.topNavR{
	float: right;
	
	}
.h_head ul{
	
	font-size: 12px;
	line-height: 28px;
}
.h_head ul li{
	float: left;
	margin-left: 20px;
	cursor: pointer;
	
}

.h_head ul li:first-child{
	margin-left: 0;
}
.h_head ul li.topTab{
	position: relative;
}
.h_head ul li.topTab i{
	float: left;
	display: block;
	background: url(../img/icon.png) no-repeat 0 -12px;
	height: 12px;
	width:16px;
	margin: 8px 4px 8px 0;
	top:-2px;
}
.h_head ul li.topTab a.num{
	color:#ed1717 ;
	padding-left: 4px;
}
.h_head ul li span{
	margin:12px 0 10px 4px  ;
	float: right;
	display: block;
	width: 8px;
	height: 6px;
	background: url(../img/icon.png) no-repeat 0 -30px;
	
}

	
/*导航栏点击显示部分*/
#TabListBox{
	width:118px;
	height:104px;
	position: absolute;
	margin-top:-6px;
	z-index:2;
	display: none;
	}

/*尖角*/
#TabListBox i{
	background:url(../img/tophead.png) no-repeat;
	margin:0 auto;
	display: block;
	height:6px;
	width:7px;
}
/*ul*/
#topTabList{
	width:118px;
	height:96px;
	border: 1px solid #f4f4f4;
	border-top:none;
	-margin-top:6px;
	background:#ffffff;
	
}
#topTabList li{
	width:96px;
	width: 118px;
	text-align: center;
	line-height: 32px;
	margin-left: 0;
}	
.c_head{
	height: 122px;
}
.c_head .logo{
	width: 306px;
	height: 122px;
	float: left;
}
.c_head .logo .logo_pic{
	float: left;
	display: block;
	height: 80px;
	width:184px;
	background: url(../img/icon.png) no-repeat 0 -74px;
}
.c_head .logo .people{
	margin: 36px 0 0 16px;
	float: left;
}
.c_head .logo .people p.team1{
	font-size: 14px;
	color: #ffffff;
	width: 100px;
	text-align: center;
	background: url(../img/icon.png) no-repeat 0 -160px;
	
}
.c_head .logo .people p.site{
	font-size: 12px;
	color: #555555;
	width: 100px;
	text-align: center;
	
}
.c_head .search{
	width: 640px;
	height: 122px;
	float: left;
}
.c_head .search .from{
	width:530px;
	height: 46px;
	line-height: 46px;
	border: 2px solid #ed1717;
	margin: 30px 0 0 104px;
}
.c_head .search .from h2{
	float: left;
	display: block;
	text-align: center;
	font-weight: normal;
	font-size:12px;
	color: #555555;
	line-height: 46px;
	width: 80px;
	border-right: 1px solid #f0f0f0;
	height: 46px;
}
.c_head .search .from h2 i{
	float:right;
	margin:20px 8px 20px 0px;
	display: block;
	width: 8px;
	height: 6px;
	background: url(../img/icon.png) no-repeat 0 -30px;
}
.c_head .search .from input.text{
	float: left;
	border: 0;
	width: 380px;
	height: 46px;
	line-height: 46px;
}
.c_head .search .from input.btn{
	float: right;
	width: 68px;
	height: 46px;
	background: #ed1717;
	border: 0;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 46px;
}
.c_head .search .hotsearch{
	margin: 0 0 10px 104px;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	color:# 555555;
	
}
.c_head .search .hotsearch a{
	margin-left: 10px;
}
.c_head .search .hotsearch a:first-child{
	margin-left: 0px;
}
.f_head{
	height:40px;
}	
.f_head  h1{
	font-weight: normal;
	display: block;
	width:200px;
	height: 40px;
	float: left;
	background:#42baff;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
}
.f_head  h1 i{
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/icon1.png) no-repeat 0 0;
	margin: 14px 10px 14px 16px;
}
.f_head ul{
	float:left ;
}
.f_head ul li{
	float: left;
	margin-left: 40px;
	cursor: pointer;
}
.f_head ul li.active{
	color: #ed1717;
}
.f_head ul li:first-child{
	margin-left: 30px;
}	

/*-------------------------------------------title end-----------------------------------*/

/*--------------------------------------------banner start-------------------------------*/

#banner a:hover{
	text-decoration: none;
}
#banner{
	height: 460px;
	position: relative;
	overflow: hidden;
	left:0px;
}
#banner input{
	width: 30px;
	height: 40px;
	position:absolute;
	top:210px;
	z-index: 1;
}
#btn_L{
	left: 0;
}
#btn_R{
	right: 0;
}
#view{
	width: 1920px;
	position:absolute;
	left:0;
}
#view ul{
	width: 20000px;
	position:absolute;
	left: 0;
}
#view ul li{
	width: 1920px;
	float: left;
}
ol {
	width: 110px;
	position: absolute;
	z-index: 2;
	top:416px;
	left: 50%;
	margin-left: -55px;
}
ol li{
	width: 21px;
	height: 20px;
	line-height: 20px;
	text-align:center;
	background:url(../img/icon.png) no-repeat -48px -24px;
	
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
 ol li:first-child{
	margin-left: 0;
}
 ol li.active{
 	background:url(../img/icon.png) no-repeat -26px -24px;
	
	color: #fff;
}
.sidebar{
	width:200px;
	height: 460px;
	background: #6cc9ff;
	position: absolute;
}
.sidebar ul li{
	width:200px;
	height:66px ;
	border-bottom: 1px solid #84d2ff;
	text-indent: 18px;
	position: relative;
	
}
.sidebar ul li h3{
	font-size: 14px;
	font-weight: normal;
	width: 200px;
	padding-top: 16px;
	color: #ffffff;
}
.sidebar ul li h3 i{
	width:8px ;
	height: 8px;
	float: right;
	background:url(../img/icon.png) no-repeat -8px -38px;
	margin:8px 10px 0 0;
}
.sidebar ul li p{
	font-size: 12px;
	color: #d3efff;
	line-height: 24px;
	height: 24px;
}
.sidebar ul li p a{
	margin-right:10px ;
}
.sidebar ul li .child{
	position: absolute;
	z-index: 3;
	width:490px ;
	top: 0;left:200px;
	background: #ffffff;
	text-indent: 0;
	border: 2px solid #6cc9ff;
	border-left: 0;
	padding: 18px 20px 26px 20px;
	display: none;
}
.sidebar ul li:hover div{
	display: block;
}
	

.sidebar ul li .child h3{
	width: 490px;
	padding: 0;
	color: #42baff;
	font-size: 12px;
	border-bottom: 1px solid #6cc9ff;
	line-height: 24px;
	
}
.sidebar ul li .child .content{
	color:#55555;
	font-size: 12px;
	
}
.sidebar ul li .child .content a{
	float: left;
	line-height: 24px;
	margin-right: 10px;
	
}

/*-------------------------------------------------content start-----------------------------------*/
#content{
	height:1520px ;
	background:#f5f5f5;
}
#content a:hover{
	text-decoration: none;
}
.about{
	padding: 20px 0;
}
.serve{
	height:488px;
	background: #ffffff;
	padding: 0 20px;
}
.serve h1{
	height: 94px;
	line-height: 94px;
	font-weight: normal;
}
.serve h1 .advice{
	font-size: 20px;
	float: left;
}
.serve h1 .line{
	float: left;
	width: 944px;
	display: block;
	height: 94px;
}
.serve h1 .line span{
	display: block;
	height: 10px;
	background:url(../img/line.png) repeat-x 0 0;
	margin:42px 14px 28px;
}
.serve h1 .more{
	float: left;
	width: 94px;
}
.serve h1 .more .font{
	float: left;
	font-size: 14px;
	font-style: normal;
	width: 58px;
	height: 94px;
}
.serve h1 .more .top{
	display: block;
	float:right;
	width: 20px;
	height: 10px;
	background: url(../img/icon.png) no-repeat 0 -64px;
	margin: 42px 0;
}
.serve ul{
	height: 368px;
}
.serve ul li{
	float: left;
	width:182px;
	border: 1px solid #dddddd;
	margin-left: 10px;
	padding: 20px 20px 14px;	
}
.serve ul li:first-child{
	margin-left: 0px;	
}
.serve ul li h3{
	font-weight:bold;
	margin-top:10px ;
	height: 34px;
	line-height: 34px;
	font-size: 14px;	
}
.serve ul li p{
	font-size: 12px;
	line-height: 24px;
}
.serve ul li p a{
	color:#ef2f2f ;
}
.serve ul li span{
	display: block;
	margin-top: 10px;
	width:80px;
	height: 24px;
	background:url(../img/icon.png) no-repeat 0 -185px;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	cursor: pointer;
}
.ad{
	padding-bottom: 20px;
}
.construction_team{
	height: 350px;
	background: #ffffff;
}
.team{
	height: 40px;
	line-height: 40px;
	padding:20px;
}
.team h1{
	float: left;
	font-size: 20px;
	font-weight:normal;
	margin-right: 30px;
	
}
.team ul{
	float: left;
	font-size: 14px;
}
.team ul li{
	float: left;
	width: 112px;
	cursor: pointer;
}	
#btn_group {
	position: relative;
	
}
#btn_group li{
	text-align: center;
}
#btn_group li.active{
	border-bottom:2px solid #f03d3d ;
	color: red;
}
.enterprise{
	padding: 0 20px;
}
.enterprise .u_top{
	height: 120px;
	border-bottom:1px solid #dddddd;
}
.enterprise .u_top li.noborder{
	border: 0;
}
.enterprise .u_bom{
	height: 120px;
}
.enterprise .u_bom li{
	padding-top: 20px;
	
}
.enterprise .u_bom li.noborder{
	border: 0 ;
}
.cont{
	display: block;
	display: none;
}
.cont .enterprise li{
	height: 120px;
	float: left;
	width:364px;
	border-right: 1px solid #dddddd;
	margin-right: 20px;
}
 .cont .enterprise li h2{
	float: left;
} 
 .cont .enterprise li .fcont{
	float: left;
    text-indent: 10px;
}
.cont .enterprise li .fcont h3{
	font-weight:bold;
	margin-bottom:10px ;
	height: 24px;
	line-height: 24px;
	font-size: 14px;	
}
.cont .enterprise li .fcont p{
	font-size: 12px;
	line-height: 24px;
}
.cont .enterprise li .fcont p i{
	font-style: normal;
	color:#ef2f2f ;
}
.trademark{
	height: 130px;
}
.trade{
	margin-bottom: 20px;
	border-top: 1px solid #e3e6e7;
}
.recruit{
	margin: 20px 0;
}
.rec{
	height: 334px;
	background: #ffffff;
}
.rec h1{
	line-height: 38px;
	font-size: 14px;
	height: 38px;
	margin: 0px 20px 0 20px;
	padding-top:10px ;
	font-weight: normal;
	border-bottom:1px solid #dddddd ;
}
.rec h1 a.font{
	float: left;
}
.rec h1 a.more{
	float: right;
}
.rec h1 a.more .font{
	float: left;
	font-size: 14px;
	font-style: normal;
	width: 34px;
}
.rec h1 a.more .top{
	display: block;
	float:right;
	width: 20px;
	height: 10px;
	background: url(../img/icon.png) no-repeat 0 -64px;
	margin: 14px 0;
}
.rec .news{
    padding-top: 10px;
}
.rec p{
	font-size: 12px;
	line-height:32px;
	margin:0 20px ;
	height: 32px;
}
.rec p a{
	display: block;
	float: left;
}
.rec p a.blue{
	color:#0066cc;
	width: 374px;height: 32px;
}
.rec p a.company{
	width: 274px;
	
}
.rec p a.place{
	width: 208px;
}
.rec p a.price{
	width: 234px;
}
.rec p a.date{
}
.rec p a i.red{
	color:#ef2f2f;
	font-style: normal;
}

 .tip{
	position: fixed;
	right: 76px;
	bottom: 200px;
	display: none;
	height: 76px;
	width: 76px;
	background:url(../img/icon.png) no-repeat 0 -210px;
}
/*-----------------content end-------------------*/


/*-----------------footer start-------------------*/
#footer{	
	height:400px ;
	background:#f5f5f5;
}
#footer a:hover{
	text-decoration: none;
	cursor: pointer;
}
.foot{
	height: 210px;
	background: #464b51;
	
}
.guide{
	height: 210px;
	color: #dcdcdc;
	font-size: 14px;
}
.guide li{
	margin-top: 44px;
	float: left;
	margin-left:120px;
}
.guide li:first-child{
	margin-left: 20px;
}
.guide li h2{
	margin-bottom: 14px;
}
.guide .new h2 i{
	display: block;
	float: left;
	width: 22px;height: 22px;
	background: url(../img/icon.png) no-repeat -63px 0;
	margin-right: 10px;
}
.guide .nail h2 i{
	display: block;
	float: left;
	width: 26px;height: 24px;
	background: url(../img/icon.png) no-repeat -86px 0;
	margin-right: 10px;
}
.guide .m h2 i{
	display: block;
	float: left;
	width: 26px;height: 24px;
	background: url(../img/icon.png) no-repeat -114px 0;
	margin-right: 10px;
}
.guide .deal h2 i{
	display: block;
	float: left;
	width: 22px;height: 24px;
	background: url(../img/icon.png) no-repeat -140px 0;
	margin-right: 10px;
}
.guide .tru{
	width: 200px;
	height: 128px;
	margin-left: 82px;
	border-left:1px solid #4e4f52;
	border-right:1px solid #4e4f52;
}
.guide .tru i{
	display: block;
	width: 122px;height: 38px;
	background: url(../img/icon.png) no-repeat 0 -295px;
	margin: 0 40px 14px;
}
.guide .tru p{
	text-align: center;
	color: #838383;
	line-height: 16px;
	height: 16px;
}
.guide .ewm{
	margin-left: 0;
	width:174px;
}
.guide .ewm i{
	display: block;
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	border:1px solid #96999c ;
	margin-left:50px ;
	font-size: 14px;
	color: #555555;
	font-style: normal;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
	
}
.guide .ewm p{
	text-align: center;
	font-size: 12px;
	margin-left:30px ;
}
.guide li h2 a{
	float: left;
	font-size: 14px;
	line-height: 22px;
}
.guide li p{
	line-height: 28px;
	height: 28px;
}
.copy{
	padding-top: 20px;
}
.copy p{
	color: #555555;
	font-size: 12px;
	text-align: center;
	height: 26px;
	line-height: 26px;
}
